@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
body {
    background-color: var(--page-bg);
    padding-top: 40px;
    font-family: "Open Sans", sans-serif;
}

/** basic css often used. **/

/* flex */
.f {
    display: flex;
}

#visible-text {
    font-size: 1rem;
    line-height: 1.5rem;
}

#invisible-text {
    font-size: 1.5rem;
    line-height: 3rem;
}

@media only screen and (min-width: 1025px) {
    #visible-text {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #invisible-text {
        font-size: 1.5rem;
        line-height: 3rem;
    }
}
@media only screen and (min-width: 1279px) {
    #visible-text {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    #invisible-text {
        font-size: 1.5rem;
        line-height: 3rem;
    }
}
@media only screen and (min-width: 1366px) {
    #visible-text {
        font-size: 1.25rem;
        line-height: 1.8rem;
    }

    #invisible-text {
        font-size: 2rem;
        line-height: 3.5rem;
    }
}

@media only screen and (min-width: 1439px) {
    #visible-text {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    #invisible-text {
        font-size: 2.5rem;
        line-height: 4rem;
    }
}

@media only screen and (min-width: 1681px) {
    #visible-text {
        font-size: 2rem;
        line-height: 3rem;
    }

    #invisible-text {
        font-size: 3rem;
        line-height: 5rem;
    }
}
@media only screen and (min-width: 1924px) {
    #visible-text {
        font-size: 2.5rem;
        line-height: 4rem;
    }

    #invisible-text {
        font-size: 4rem;
        line-height: 6rem;
    }
}

.f-col {
    display: flex;
    flex-direction: column;
}

.a-c {
    align-items: center;
}

.j-c {
    justify-content: center;
}

.j-sb {
    justify-content: space-between;
}

/* spacing */

/* animations */

@keyframes key-breath {
    from {
        background-color: unset;
    }

    to {
        background-color: rgba(90, 163, 232, 0.4);
    }
}

.key-breath {
    animation-name: key-breath;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
